html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    background-color: aliceblue;
}

.input-sidebar {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
    width: 15%;
    height: 100%;
    background-color: antiquewhite;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    order: 2;
    flex: 1 1 auto;
    align-self: auto;
    background-color: beige;
}

.sub-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    min-height: 350px;
    max-height: 500px;
}

.graphic {
    flex: 1 1 auto;
    width: 100%;
    background-color: blanchedalmond;
}

.total-chart {
    flex: 1 1 auto;
    width: 25%;
    background-color: aliceblue;
}

.report-table {
    width: 100%;
    flex: 1 1 auto;
}